html, body {
    min-height: 100vh;
    font-family: Lato;
}

header, footer {
    background-color: dodgerblue;
    color: white;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1.2em;
}

footer a {
    color: white;
}

.row {
    padding: 10px 0;
}

svg.viz {
    margin-left: auto;
    margin-right: auto;
    display: block;
}