html, body, .container-fluid {
    min-height: 100vh;
    font-family: Lato, sans-serif;
}

header, footer {
    background-color: #4267b2;
    color: white;
    width: 100%;
}

footer {
    text-align: center;
    font-size: 1.2em;
}

footer a {
    color: white;
}

.app-title {
    padding-top: 0.5em;
}

svg.viz {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* from https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
